<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>${SONAR_SERVER_URL}</sonar.host.url>
                <sonar.login>${SONAR_AUTH_TOKEN}</sonar.login>
            </properties>
        </profile>
    </profiles>
</settings>
